:root {
  box-sizing: border-box;
  --background-color: #ffe628;
  --card-background-color: #ffffff;
  --card-border-color: #d7d5d3;
  --card-figure-background-color: #dcdcdc;
  --card-type-border-color: #e5dedb;
  --card-type-color: #c5b8a7;
  --card-id-color: #917b66;
  --card-id-background: #cdcdc8;
  --card-evolution-border-color: #5a3414;
  --card-evolution-text-color: #af8a89;
  --card-evolution-name-color: #565656;
  --searchform-placeholder-color: #cccccc;
  --cheek-size: 8vw;
  --ear-size: 5vw;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

.background-figure {
  position: fixed;
  z-index: -1;
}

.cheek {
  border-radius: 100%;
  background: red;
  padding: var(--cheek-size);
}

.ear--left {
  left: calc(-1 * var(--ear-size));
  top: calc(-1 * var(--ear-size));
}

.ear--right {
  right: calc(-1 * var(--ear-size));
  top: calc(-1 * var(--ear-size));
}

.ear {
  background: black;
  padding: var(--ear-size);
  transform: rotate(45deg);
}

.cheek--left {
  bottom: calc(-1 * var(--cheek-size));
  left: calc(-1 * var(--cheek-size));
}

.cheek--right {
  bottom: calc(-1 * var(--cheek-size));
  right: calc(-1 * var(--cheek-size));
}

.searchform {
  margin: 1rem auto;
  min-width: calc(240px + 0.5rem);
  max-width: calc((3 * 240px) - 1rem);
  width: 94vw;
}

.searchform input {
  width: 100%;
  border: none;
  height: 2.5rem;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.3);
  text-align: center;
  font-size: 1.3rem;
}

.searchform input::placeholder {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: var(--searchform-placeholder-color);
  font-weight: 100;
}

/* 
Auto-fit hace variable el número de columnas.
minmax(200px,1fr) dice: como mínimo tiene que medir 200px si no, que ocupe una fracción.
max-width: calc(3* 240): me da como tamaño máximo del contenedor 3 tarjetas (y un poquitillo para el margen)
margin: 0 auto: rellena el resto con el margen horizontal
*/
.pokedexgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: calc(3 * 240px);
  margin: 0 auto;
}

article {
  margin: 0.5rem;
}

.pokemon-card {
  border: 1px solid var(--card-border-color);
  border-radius: 0.1rem;
  background-color: var(--card-background-color);
  box-shadow: -1px 0 4px rgba(0 0 0 / 0.2);
  height: 250px;
  overflow: hidden;
  position: relative;
  max-height: 250px;
}

.pokemon-card:hover {
  cursor: pointer;
}

.pokemon-card:focus {
  position: fixed;
  left: 50%;
  top: 50%;
  width: min(240px, 95vw);
  height: fit-content;
  max-height: min(400px, 95vh);
  transform: translate(-50%, -50%);
  transition: max-height 1.5s ease-out;
  z-index: 1;
  box-shadow: 0 0 10px rgb(0, 153, 255);
  border: 2px solid #00d9ff;
  border-radius: 0.2rem;
  cursor: auto;
}

article:focus-within::before {
  content: "";
  background-color: rgba(0 0 0 / 0.5);
  position: fixed;
  inset: 0;
  z-index: 1;
  cursor: pointer;
}

.pokemon-back-info {
  display: none;
  margin: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.pokemon-back-info h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--card-evolution-text-color);
  margin: 0;
}

.pokemon-back-info p {
  color: var(--card-evolution-name-color);
  font-size: 1rem;
  margin: 0;
}

.pokemon-card:focus .pokemon-back-info {
  display: flex;
  flex-direction: column;
}

.pokemon-card figure {
  position: relative;
  background-color: var(--card-figure-background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
  min-height: 130px;
}

.pokemon-card figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  image-rendering: pixelated;
  width: fit-content;
  height: auto;
  transform: translate(-50%, -50%);
}
.pokemon-card figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: fit-content;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-family: "Ubuntu";
  color: var(--card-id-color);
  background-color: var(--card-id-background);
  font-weight: 800;
  word-spacing: -1px;
}

.pokemon-info {
  padding: 0.5rem 1rem;
}

.type-container {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.pokemon-card [type] {
  border: 1px solid var(--card-type-border-color);
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--card-type-color);
  text-align: center;
  width: fit-content;
  padding: 0.1rem 0.2rem;
  margin: 0;
}

.pokemon-name {
  font-family: "Ubuntu";
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0;
}

.evolution-name {
  font-style: normal;
  font-size: 1.2rem;
  margin: 0;
  color: var(--card-evolution-name-color);
}

.evolution-info {
  border-left: 0.25rem solid var(--card-evolution-border-color);
  padding-left: 0.25rem;
  margin: 0.5rem 0 0.5rem;
  font-family: "Ubuntu";
}

.evolution-name {
  font-weight: 100;
}

.evolution-text {
  margin: 0;
  font-weight: 100;
  font-size: 0.8rem;
  color: var(--card-evolution-text-color);
}
